AVISOS_DATABASE_URL=jdbc:sqlite:/app/data/avisos.db
DATABASE_ENCRYPTION_KEY=5a02bf8b691f2b22f1f3e3f7afb0e0e262bc9fa7b37dd25bb35eb99dc3a77e30
AVISOS_MQTT_BROKER=tcp://mosquitto:1883
AVISOS_MQTT_TOPIC=avisos/telemetry
AVISOS_VISION_API_URL=http://vision-api:32168/v1/vision/detection
AVISOS_CLI_ENABLED=false
