### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Maven ###
target/
dependency-reduced-pom.xml

### Application ###
avisos.dblogs.txt
avisos.db
avisos.iml
avisos.db-shm
avisos.db-wal
target
localstack/cache
logs
mosquitto/data
mosquitto/log
data
.env
/.idea/

### Frontend (React build artifacts) ###
avisos-controller-service/src/main/frontend/node_modules/
avisos-controller-service/src/main/frontend/node/
avisos-controller-service/src/main/resources/static/
